@model IEnumerable<CRUD.Models.Restaurante>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Restaurantes</h2>

<p>

</p>
@using (Html.BeginForm("Index", "Restaurante"))
{
    <div class="areaFiltros">
        <h2>Filtros</h2>
        <label for="txtBusca">Nome do restaurante</label> <br />
        <input type="text" name="txtBusca" class="form-control" placeholder="Deixe vazio para buscar todos" /><br />

        <div class="dvAcoesFiltro">
            <button type="submit" class="btn-primary">Pesquisar</button>
            <button type="button" class="btn-success" id="btnNovoRestaurante">Cadastrar Novo Restaurante</button>
        </div>
    </div>

}
<div class="areaLista">
    @if (Model.Count() == 0)
    {
        <div class="form-group text-center">
            <label>Nenhum restaurante para exibir</label>

        </div>
    }
    else
    {
        <table class="table">
            <tr>
                <th width="5%"></th>
                <th width="5%"></th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Delete", "Restaurante", new { id = item.ID })">
                            <img class="btnExcluir" src="~/Content/imgs/delete.png" />
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Restaurante", new { id = item.ID })">
                            <img class="btnEditar" src="~/Content/imgs/edit.png" />
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>

                </tr>
            }

        </table>
    }
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://use.fontawesome.com/875d358986.js"></script>
    <script>
        $('#btnNovoRestaurante').click(function () {

            location.href = "Restaurante/Create";
        })
    </script>
}

