@model CRUD.Models.Prato

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Exclusão de Prato</h2>

<h3>Você tem certeza que deseja excluir este prato ?</h3>
<div>
    <h4>Prato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Restaurante.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Restaurante.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="button" onclick="location.href = '/Prato'" value="Voltar" class="btn-danger" />
            <input type="submit" value="Excluir" class="btn-success" />
        </div>
    }
</div>
